@tailwind base;
@tailwind components;
@tailwind utilities;



.homecontainer{
  display: flex;
  align-items: center;
 
}

.childcontainer{
  margin: 30px;
  height: 200px;
  width: fit-content;
  font-size: 100px;
  font-weight: 900px; 
  
  
}
.color{
  color: #5C6249;
  font-style: oblique;
 

}
.colors{
  color:#725A74;
  font-style: bold;
}